{% block re_captcha_row %}
	{% if norma_cms_bundle_recaptcha_enable %}
		<div id="{{ id }}" class="recaptcha" data-toggle="recaptcha" data-type="{{ type }}"></div>
	{% endif %}
{% endblock re_captcha_row %}
